site_name: "gcrack : Linear Elastic Fracture Mechanic solver"
site_url: https://floiseau.github.io/gcrack/
repo_url: https://github.com/floiseau/gcrack
repo_name: floiseau/gcrack
theme:
  name: material
  palette:
    scheme: slate
  features:
    - content.code.copy
markdown_extensions:
  - admonition
plugins:
- search
- mkdocstrings:
    handlers:
      python:
        options:
          docstring_style: google
        paths: [src]
